/* Reset e base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0a0a0a;
  color: #f0f0f0;
  padding: 1rem;
}

header {
  text-align: center;
  margin-bottom: 1rem;
  color: #a050ff;
}

input,
textarea,
button {
  border: none;
  padding: 0.5rem;
  border-radius: 6px;
  font-size: 1rem;
  margin: 0.25rem;
}

input[type="text"],
textarea {
  width: 100%;
  background: #222;
  color: #fff;
}
